RRRBot.v12.suo
Debug/
Deploy/Debug/
RRRBot.opensdf
RRRBotFunctionality/Debug/
RRRBotFunctionality/RRRBotFunctionality.vcxproj.user
RRRBotGUI/Debug/
RRRBotGUI/GeneratedFiles/
Win32/
config~
Release
*.sdf
